@{
    Layout = "";
}
@model Nop.Plugin.Api.Models.ConfigurationModel

@using System.Web.Mvc.Html
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

    <div class="adminGroup">
        <div id="adminGroupPanel1" class="adminGroupPanel">
            <table class="adminContent">
                <tr class="apiSettings">
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.EnableApi_OverrideForStore, model => model.EnableApi, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.EnableApi):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.EnableApi)
                        @Html.ValidationMessageFor(model => model.EnableApi)
                    </td>
                </tr>
                <tr class="apiSettings">
                    <td class="adminHint" colspan="2">
                        <p>@T("Plugins.Api.Admin.EnableApi.Hint")</p>
                    </td>
                </tr>

                <tr class="apiSettings">
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.AllowRequestsFromSwagger_OverrideForStore, model => model.AllowRequestsFromSwagger, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AllowRequestsFromSwagger):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.AllowRequestsFromSwagger)
                        @Html.ValidationMessageFor(model => model.AllowRequestsFromSwagger)
                    </td>
                </tr>
                <tr class="apiSettings">
                    <td class="adminHint" colspan="2">
                        <p>@T("Plugins.Api.Admin.AllowRequestsFromSwagger.Hint")</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")"/>
                        @Html.ActionLink("Manage Clients", "List", "ManageClientsAdmin", null, new {@class = "k-button"})
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
