@using Nop.Web.Framework
@using Nop.Plugin.Api.Models

@model ClientModel

<table class="adminContent">
    <tr class="apiSettings">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr class="apiSettings">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ClientId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ClientId)
            @Html.ValidationMessageFor(model => model.ClientId)
        </td>
    </tr>
    <tr class="apiSettings">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ClientSecret):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ClientSecret)
            @Html.ValidationMessageFor(model => model.ClientSecret)
        </td>
    </tr>
    <tr class="apiSettings">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CallbackUrl):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CallbackUrl)
            @Html.ValidationMessageFor(model => model.CallbackUrl)
        </td>
    </tr>
    <tr class="apiSettings">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.IsActive):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </td>
    </tr>
</table>
